body {
    padding-top: 70px;
    font-family: 'Segoe UI', sans-serif;
}

.hero-section {
    padding: 80px 0;
}

.highlight {
    color: #0d6efd;
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0d6efd;
}

.section {
    padding: 70px 0;
}

.skill-box {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}
